.nav-link{
    color: black ;
}
.navbar-light{
    background-color: rgb(19, 130, 182);
}
h1{
    color: rgb(17, 218, 218);
}
.container {
    text-decoration: aqua;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}